* {
	margin: 0vw auto;
	padding: 0vw auto;
	/*	min-width: 500px;*/
}

@font-face {
	font-family: 'Helvetica Neue LT Std 73 Bold Extended';
	font-style: normal;
	font-weight: normal;
	src: local('Helvetica Neue LT Std 73 Bold Extended'), url('HelveticaNeueLTStdBdEx 1.woff') format('woff');
}

body {
	color: black;
	/*	background-color: black;*/
	font-family: 'Helvetica Neue LT Std 73 Bold Extended';
	font-weight: normal;
}

a {
	text-decoration: none;
	color: black;
	/*		background-color: aquamarine;*/

}

/*@media screen and (max-width : 500px) {*/

.nav {
	/*	72px / 19.2px = 3.75vw;*/
	font-size: 3.75vw;
	position: fixed;
	list-style: none;
	bottom: 1.2vw;
	right: 2.7vw;
	text-align: right;
	padding-top: 2vw;
	padding-right: 2vw;
	/*	background-color: aquamarine;*/
}

h1 {
	/*	1vw = 1920/100 , 1vw = 19.2px , 113px = 5.88vw*/
	font-size: 5vw;
	position: absolute;
	top: 1.2vw;
	left: 2.7vw;
	/*		background-color: aquamarine;*/


}

h3 {
	/*	24px / 19.2px = 1.25vw*/
	font-size: 1.25vw;
	position: absolute;
	top: 1.8vw;
	right: 2.7vw;
	/*		background-color: aquamarine;*/

}

.textBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2vw;


}

/*}*/

img {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	z-index: -1;
}
canvas{
display: block;
}
@media screen and (max-width : 767px) {
	h1 {
		font-size: 12vw;
		top: 1.3vw;
		left: 1.3vw;
		position: absolute;

	}

	h3 {
		font-size: 3.5vw;
		top: 1.8vw;
		right: 2.7vw;
		writing-mode: vertical-lr;
		position: absolute;

	}

	.nav {
		font-size: 8vw;
		padding-top: 2vw;
		padding-right: 2vw;
		bottom: 1.2vw;
		right: 2.7vw;
		position: fixed;
		list-style: none;
		text-align: right;

	}

	.textBox {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3.5vw;


	}

}
